/* UNIVERSAL */

html {
  font-size: 16px;
  font-family: monospace, sans-serif;
}

main {
  margin: 8rem 16rem 0rem 16rem;
}

/* ADVICE GIVER */

.grid {
  background-color: rgb(104, 104, 64);
  display: grid;
  grid-template: repeat(2, 12rem) / repeat(6, 1fr);
  gap: 1rem 1rem;
  margin: auto;
  position: relative;
  align-content: center;
  
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}

.grid-item.a {
  grid-area: 1 / 1 / span 1 / span 4;
}

.grid-item.b {
  grid-area: 1 / 5 / span 2 / span 2;
}

/* LOADING BAR */

.grid-item.c {
  grid-area: 2 / 1 / span 1 / span 3;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar {
  width: 28%;
  height: 60%;
  color:blue;
  z-index: 200;
  justify-content: center;
  background-color: gray;
  margin: auto;
}

/* BUTTON */

.grid-item.d {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

/* ADVICE GIVER PORTRAIT */

.grid-item.b {
  background-color: aliceblue;
  display: flex;
}